project:
  type: website

website:
  title: "BnB Compendium"
  navbar:
    left:
      - href: index.qmd 
        text: Home
      - href: about.qmd
        text: About
      - href: articles.qmd
        text: Articles
      - href: contribute.qmd
        text: Contribute
        


format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



